body{
    background-color: black;
    background-image: url('../../public/fondo-login.png');
    background-size: 130% ;
    background-repeat: no-repeat;
    
    .login-page{
        
        padding: 20px;
        display: flex;
        .login-div{
            
            width: 50%;
        }
        .login-div-two{
            text-align: center;
            width: 50%;
        }
    }
}
@media (max-width: 768px) {
    .login-page{
       
        .login-div{
            
            display: none;
        }
        .login-div-two{
            border-top: 1px solid;
            width: 500px;
            
        }
    }
}