

.aside-layout{
    width: 40vw;
    min-width: 350px;
    max-width: 450px;
    background-color: white;
    .logo-aside{
        background-color: #001F3E;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .buttons-aside{
        margin-top: 30px;
        width: 100%;
        .btn-aside{
            height:60px;
            display: flex;
            align-items: center;
            
            width: 100%;
            color: #979797;
            font-weight: bold;
            font-size: 25px;
            gap: 30px;
            background: none;
            border: none;
            padding-left: 50px;
            &:hover{
                background-color: #EAF1F4;
                color: #304A63;
            }

        }
        .accordion-container{
            .accordion-item{
                border: none;
                .accordion-header{
                    width: 100%;
                   
                    
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .aside-layout{
        display: none;
    }
}