
.container-home{
    overflow-x: hidden;
    .avatar-office{
        border-radius: 50%;
        
        
    }
    .btn-plus{
        cursor: pointer;
        position: relative;
    }
}
.back-home{
    .nombre-office{
        font-weight: bold;
    }
}